# Dependencies
node_modules/

# Builds
dist/
release/
coverage/
.pnp.cjs
.pnp.loader.mjs
.yarn/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Editor
.vscode/
.DS_Store

# Env
.env*
*.log
.DS_Store
Thumbs.db
